
<!-- Formulaire création d'un nouvel utilisateur -->
<form id="creation" action="" method="post">
                <!-- action = sera précisée par le script.js -->
        <input type="text" name="username" id="username" placeholder="Nom d'utilisateur" required>
        <input  type="email" name="mail" id="mail" placeholder="Email" required>
        <input  type="password" name="password" id="password" placeholder="Mot de passe" required>
        <input  type="password" name="confirmpassword" id="confirmPassword" placeholder="Confirmer mot de passe" required>
        <input  class="submit" type="submit" value="Creer">
</form> 

<!-- Formulaire de connexion -->
<form id="connexion" action="" method="post">                
        <input type="text" name="username" id="username" placeholder="Utilisateur" required>
        <input  type="password" name="password" id="password" placeholder="Mot de passe" required>
        <input  class="submit" type="submit" value="Connection">
</form>

<!-- Formulaire de modification des données utilisateur -->
<div id ="compteUser">
        <form id="modification" action="" method="post">
                <input type="text" name="newusername" id="newUsername" placeholder="Changer nom utilisateur"  >
                <input  type="email" name="newemail" id="newEmail" placeholder="Changer Email" >
                <input  type="password" name="newpassword" id="newPassword" placeholder="Changer mot de passe" >
                <input  type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirmer mot de passe" >
                <input  class="submit" type="submit" value="Modifier">
        </form> 
        <button  id ="deleteBtn" name="delete" type="button">Supprimer Compte</button>
</div>

<!-- Div vide qui charge l'arborescence de l'utilisateur -->
<div id="filesPage"></div>

