body{
    width:98%;
    margin: auto;
    background-color:rgb(5, 13, 49);
    color:rgb(255, 174, 0);
   
}



/* BOUTONS */

button{
    background-color:rgb(5, 13, 49);
    border:1px solid grey;
    padding: 10%;
    color:rgb(255, 174, 0);
}

button:hover, button:focus{
    background-color:rgb(255, 174, 0);
       
    color:rgb(5, 13, 49);
}


/* FORMULAIRE */
form{
    margin-top:5%;
    display:flex;
    flex-flow: column wrap;
    width:30%;
    margin:auto;

}

#modification{
    width:50%;
}
input{
    background-color:rgb(5, 13, 49);
    padding:2%;
    margin:2%;
    color:rgb(255, 174, 0);
    opacity:0.8;
}
input:hover{
    opacity:1;
}

input:focus{
    background-color:rgb(255, 174, 0);   
    color:rgb(5, 13, 49);
    opacity:1;
}





/* PAGE INDEX */
#indexSection{
    display:flex;
    flex-flow: column wrap;
    width:15%;
    margin: auto;
}

#indexSection button{
    margin:10%;
    
}

/* PAGE USER */

#userSection{
    display:flex;
    flex-flow: row wrap;
    
    width:80%;
   
}
#userSection button{
    margin:10%;
    width: 90%;
    
}

#userArticle{
    width:20%;
    
}

#arborescence{
    width:70%;
    padding-left:10%;
}

#compteUser{
    display:flex;
    flex-flow:row wrap;
}

#modification{
    display:flex;
    flex-flow:column wrap;
    width:60%;
}

#userSection #deleteBtn{
   
    background-color:red;
    width:20%;
    margin:0;
    padding:0;
    height:100%;
    
}

.submit{
   
    width:50%;
    margin:auto;
    

}

.ui-dialog{
    background-color:grey;
}
.ui-button{
    margin: 0;
    padding:0;
    width:75%;
    
}
.ui-button:hover{
    background-color:red;
    
}






@media screen and (max-width: 640px) {

    #indexSection{
       
            display:flex;
            justify-content: space-between;
            width:100%;
        
    }

   
    
    #userSection{
        display:flex;
        flex-flow:column wrap;
        
    }

        #userArticle{
            display:flex;
            justify-content: space-between;
            width:100%;
        }

        #arborescence{
            width:100%;
        }
        #compteUser{
            flex-flow:column wrap;
            margin: auto;
            
        }
        body{
            font-size:0.8em;
        }

        #userSection #deleteBtn{
            margin:auto;
            margin-top:20%;
            width:50%;
            
            
        }

        .submit{
            width:50%;
        }


        #indexSection{
            flex-flow:row wrap;
        }
        #indexSection button{
            width:40%;
            margin:3%;
        }
        
        #connexion, #creation{
            width:auto;
        }

        form{
            width:auto;
        }
        
  }